---
- name: Install Development Packages
  apt:
    name:
      - lua5.1
      - liblua5.1-0-dev
      - libsecret-1-0
      - libnotify4
      - libnss3
      - libxkbcommon0
      - libgbm1
      - libasound2t64
      - libgtk-3-0t64
    state: present
  become: yes


- name: Ensure GCC is present
  apt:
    name: gcc
    state: present

- name: Create Antigravity directory
  file:
    path: /opt/antigravity
    state: directory
    mode: '0755'
  become: yes

- name: Download and Unarchive Antigravity
  unarchive:
    src: "https://edgedl.me.gvt1.com/edgedl/release2/j0qc3/antigravity/stable/1.13.3-4533425205018624/linux-x64/Antigravity.tar.gz"
    dest: /opt/antigravity
    remote_src: yes
    extra_opts: [--strip-components=1]
    creates: /opt/antigravity/antigravity
  ignore_errors: yes
  become: yes

- name: Symlink Antigravity binary
  file:
    src: /opt/antigravity/antigravity
    dest: /usr/local/bin/antigravity
    state: link
  become: yes

- name: Create Antigravity Desktop Entry
  template:
    src: antigravity.desktop.j2
    dest: /usr/share/applications/antigravity.desktop
  vars:
    icon_path: /opt/antigravity/resources/app/resources/linux/code.png # Approx path, user verify
  become: yes


