[Desktop Entry]
Name=Google Antigravity
Comment=Next-generation agentic IDE
Exec=/usr/local/bin/antigravity %U
Icon={{ icon_path }}
Terminal=false
Type=Application
Categories=Development;IDE;
StartupWMClass=Antigravity
MimeType=x-scheme-handler/antigravity;text/plain;
