# Generated Scheme files
# Generated Scheme files (Now Source)
# *.scm is no longer ignored
!system.scm
!home.scm
!iso_config.scm
!channels.scm
!wisp_converter.guile

# Build artifacts
*.iso
*.img
install-image.iso

# Temporary files
*.go
*~
